<div class="row">
    <div class="col-sm-9">
        <h1>
            <%= @blog[:title] %>
        </h1>
        <i class='fas fa-car' style='font-size:100px'></i>
        <p><%= @blog[:content] %></p>
        <% for comments in @comments %>
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: comments[:user_id]).to_a[0][:name] %></h5>
                    <%= comments[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/blog/<%= @blog[:id] %>/comments/new" class="btn btn-primary">Comment now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to comment</a>
            <% end %>
        </p>

    </div>
    <div class="col-sm-3">
        <h3>Date Posted</h3>
        <p><%= @blog[:date] %></p>
    </div>
</div>